$bodyBg: #fee7e9;
$mainBg: #fff;
$mainColor: #696cff;
$mainColorRgbaOpacity: rgba(105, 108, 255, 0.1);
$textActiveColor: #566a7f;
$txtColor: #4e4d4f;
$purple: #8624db;
$orange: #ff9066;
$green: #4caf50;
$red: #db190c;
$whatsAppBg: #25d366;
$tableContentBg: rgb(146 151 179 / 13%);
$tableBgColor: rgba(16 18 27 / 40%);
$dashboardHeaderBg: rgba(255, 255, 255, 0.45);

$primaryFontFamily: "Arkhip Regular";
$secondaryFontFamily: "Urban Inline Regular";
$tertiaryFontFamily: "Quentin Regular";
$fourtyFontFamily: "raleway-bold";
$defaultFontWeight: normal;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 260px;
$mainContentRightWidth: 384px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;
$boxRadius: 8px;

$mobile-width: 600px;
$tablet-width: 1366px;

$gray0: #e0e0e0;

$scrollbarBg: rgb(1 2 3 / 40%);
$scrollbarBgInactive: rgb(1 2 3 / 40%);

$active: #0bef9a;
$activeRgb: 11 239 154;
$alter: #823bed;
$alter2: #b9145e;
$alter2Rgb: 185 20 94;
$alter3: #e50036;
$grey: #999;
$dark: #111;
$dark2: #555;
$white: #fff;
$black: #000;
$light: $white;
