@use "./abstracts/" as *;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inspiration&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Arkhip Regular";
  src: local("Arkhip Regular"),
    url(../assets/fonts/Arkhip_font.woff) format("woff");
}

@font-face {
  font-family: "Quentin Regular";
  src: local("Quentin Regular"),
    url("../assets/fonts/Quentin.woff") format("woff");
}

@font-face {
  font-family: "Urban Inline Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Urban Inline Regular"),
    url("../assets/fonts/urbanInline.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0 !important;
  -webkit-font-smoothing: antialiased;
  font-family: $primaryFontFamily;
  font-style: normal;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbarBg;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: $scrollbarBgInactive;
  }
}

body {
  font-family: $primaryFontFamily;
  color: $txtColor;
  font-size: $fontSizeNormal;
  line-height: 1.5;
  background-color: $txtColor;
  overflow-x: hidden;
}

p {
  // font-size: 35px;
  font-family: $fourtyFontFamily;
  font-size: $typographyFontSize;
  font-weight: $typographyFontWeight;
  line-height: $typographyLineHeight;
  letter-spacing: $typographyLetterSpacing;
  line-height: 1em;
  display: inline-block;
  width: 100%;
  color: $white;
  position: relative;
  margin-bottom: 18px;
  margin-top: 0;
  margin-bottom: 0.9rem;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: unset;
}

ul,
li {
  list-style-type: none;
}

.mb {
  margin-bottom: $spacing;

  @include tablet {
    margin-bottom: $mobileSpacing;
  }
}

.center {
  text-align: center;
  justify-content: center;
}

// .title {
//   font-size: $fontSizeMedium;
//   font-weight: 700;
// }

// .form-select {
//   display: block;
//   width: 100%;
//   padding: 0.375rem 2.25rem 0.375rem 0.75rem;
//   -moz-padding-start: calc(0.75rem - 3px);
//   font-size: 1rem;
//   font-weight: 400;
//   line-height: 1.5;
//   color: $black;
//   background: $gray0;
//   border-radius: 8px;
//   background-image: url("../assets/assets/images/arrow-down.svg");
//   background-repeat: no-repeat;
//   background-position: right 0.75rem center;
//   background-size: 16px 12px;
//   border: 1px solid $gray0;
//   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
//   appearance: none;
//   cursor: pointer;
// }

// .form-select select {
//   display: none;
// }

// .table-btn {
//     background: transparent;
//     border: none;
//     cursor: pointer;
// }

// .table-edit-icon {
//     font-size: 24px;
//     color: $mainColor;
// }

// .table-delete-icon {
//     font-size: 24px;
//     color: $red;
// }

.light {
}

.dark {
}
